@import "tailwindcss";

:root {
  --primary-color: #ededed;
  --secondary-color: #fff;
  --text-color: #000;
  --ant-border-color: #0b61ff;
  --success-color: green;
  --error-color: red;
  --accent-color: #0b61ff;
  --accent-light-color: #e8f0ff;
  --overlay-color: rgba(0,0,0,.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ededed;
    --secondary-color: #fff;
    --text-color: #000;
    --ant-border-color: red;
    --success-color: green;
    --error-color: red;
  }
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
